@font-face{
    font-family: "boldText";
    src: url("resources/fonts/BlitzBold.otf") format("opentype");
}

@font-face{
    font-family: "mainText";
    src: url("resources/fonts/BlitzMain.otf") format("opentype");
}

body{
    background-image: url("resources/index/background_image.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "boldText"
}
p{
    font-family: "mainText";
}

#mainCard{
    width: 80vw;
    height: 60vh;
    background-image: url("resources/index/card.avif");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

